<ion-content>
  <cdk-virtual-scroll-viewport class="listView" itemSize="100" minBufferPx="900">
  <ion-list>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label>Date</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>Amount</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>Item</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>Location</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>Category</ion-label>
        </ion-col>
      </ion-row>
      </ion-grid>
      <div *ngIf="(list | async)?.length !== 0; else emptyList">
        <ion-item  *cdkVirtualFor="let expense of list" button (click)="onView(expense)" style="font-size: small;">
          <ion-label>{{expense.date.toLocaleDateString()}}</ion-label>
          <ion-label>${{expense.amount}}</ion-label>
          <ion-label>{{expense.item}}</ion-label>
          <ion-label>{{expense.location}}</ion-label>
          <ion-label>{{expense.category}}</ion-label>
        </ion-item>
      </div>
      </ion-list>
    </cdk-virtual-scroll-viewport>
</ion-content>

<ng-template #emptyList>
  <ion-item >
    <span>No results found.</span>
  </ion-item>
</ng-template>