<ion-content>
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Username</label>
      <ion-input type="text" formControlName="username" class="form-control"/>
      <div *ngIf="submitted && f?.username?.errors" class="invalid-feedback">
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <ion-input type="password" formControlName="password" class="form-control" />
      <div *ngIf="submitted && f?.password?.errors" class="invalid-feedback">
      </div>
    </div>
    <div class="form-group">
      <ion-button [disabled]="loading || loginForm.invalid" expand="block" type="submit">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Login
      </ion-button>
    </div>
  </form>
</ion-content>