<ion-content [fullscreen]="true" class="ion-padding ion-page">
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <h3 style="text-align: center; word-wrap: break-word;">
        {{totalActual | currency}} / {{totalProjected | currency}}
      </h3>
    </ion-title>
  </ion-toolbar>


  <ion-list>
    <ion-reorder-group [disabled]="false" >
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label>Category</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>Projected</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>Actual</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>Diff</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item-sliding *ngFor="let limit of budget.categoryLimits; let i = index;">
      <ion-item>
        <ion-input type="text" value="{{ limit.category }}" (change)="updateCategory($event, i)"></ion-input>
        <ion-input value="{{limit.limit | currency}}" (change)="updateLimit($event, i)"></ion-input>
        <ion-input readonly value="{{limit.actual | currency}}"></ion-input>
        <ion-input readonly value="{{limit.limit - limit.actual | currency}}">
        </ion-input>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
       
      <ion-item-options>
        <ion-item-option color="danger" (click)="removeCategory(limit.category)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-progress-bar style="height: 0.5rem;" color="{{limit.limit - limit.actual >= 0 ? 'success' : 'danger'}}" value="{{limit.actual / limit.limit < 1 ? limit.actual / limit.limit : 100}}"></ion-progress-bar>
    </ion-item-sliding>
  </ion-reorder-group>
  </ion-list>
  <ion-button expand="full" shape="round" (click)="addCategory()">Add Category</ion-button>
</ion-content>
