<ion-app>
  <ion-router-outlet id="main-content"></ion-router-outlet>
  <ion-tabs *ngIf="authenticationService.currentUserValue">
    <ion-tab-bar slot="bottom">
      <ion-tab-button (click)="navigate('')">
        <ion-icon name="wallet-outline"></ion-icon>
        budget
      </ion-tab-button>
      <ion-tab-button (click)="navigate('transactions')">
        <ion-icon name="cash-outline"></ion-icon>
        transactions
      </ion-tab-button>
      <ion-tab-button (click)="[navigate('login'), logout()]">
        <ion-icon name="log-out-outline"></ion-icon>
        logout
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>