<ion-content [fullscreen]="true" class="ion-padding">
  <h2>{{total | currency}}</h2>
  <ion-fab slot="fixed" horizontal="end" vertical="top">
    <ion-fab-button size="small" (click)="onAdd()">
      <ion-icon name="add-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <ion-item>
      <ion-select interface="popover" value="listFilter" placeholder='Month' (ionChange)="updateFilter($event)">
        <ion-select-option *ngFor="let filter of listFilters" [value]="filter">{{ filter }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <app-list-view [updateList]="expenses$"></app-list-view>
</ion-content>