<ion-content [fullscreen]="true" class="ion-padding">
  <h1 style="text-align: center;">{{total | currency}}</h1>
  <ion-fab slot="fixed" horizontal="end" vertical="top">
    <ion-fab-button size="small" (click)="onAdd()">
      <ion-icon name="add-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-select interface="popover" placeholder='Month' (ionChange)="updateFilter($event)" fill="outline">
              <ion-select-option *ngFor="let filter of listFilters" [value]="filter">{{ filter }}</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col>
            <ion-select interface="popover" placeholder="All" (ionChange)="updateCategory($event)" fill="outline">
              <ion-select-option *ngFor="let cat of categories" [value]="cat">{{ cat }}</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <app-list-view [updateList]="expenses$"></app-list-view>
</ion-content>